/* ... existing code ... */
body {
    font-family: '微软雅黑', sans-serif; /* 添加全局字体设置 */
}

/* 添加 .page-title 类的样式 */
.page-title {
    font-size: 24px;
    color: #374567;
    margin-bottom: 20px;
    text-align: left;
}

.upload-section {
    display: flex;
    flex-direction: column; /* 修改为竖直布局 */
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px; /* 增加图标之间的间隔 */
    border: 2px dashed #ddd; /* 添加虚线边框 */
    padding: 20px;
    border-radius: 5px;
}

.upload-section img {
    margin-right: 30px; /* 修改为向右间隔 */
    height: 50px;
}

.supported-formats,
#fileInput,
#selectFileBtn {
    margin: 10px 0; /* 增加上下间隔 */
}

#selectFileBtn {
    width: 220px;
    height: 41px;
    background-color: rgb(56, 103, 255); /* 浅蓝色背景 */
    color: white; /* 白色字体 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#language-selector {
    display: flex;
    align-items: center;
}

#language-selector select {
    width: 150px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px; /* 添加左侧间隔 */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    -webkit-appearance: none; /* Remove default arrow in Chrome */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none; /* Remove default arrow in other browsers */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23343a40' d='M8 7.248l-4.146 4.147a.5.5s1 .696 1.414.147L8 7.248l4.146 4.147a.5.5s-.696 1-.147 1.414L8.293 16l-4.147-4.146a.5.5s0-.696.147-.147L8 7.248z'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

/* 添加 file-info-section 的样式 */
.file-info-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* 添加 file-details 的样式 */
.file-details {
    margin-bottom: 15px;
    border: 2px dashed #ddd;
    padding: 20px;
    border-radius: 5px;
}

.file-details table {
    width: 100%;
    border-collapse: collapse;
}

.file-details table td {
    padding: 5px;
    font-size: 14px;
    color: #333;
    vertical-align: top;
}

.file-details table td:first-child {
    font-weight: bold;
}

/* 添加 translation-controls 的样式 */
.translation-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed #ddd;
    padding: 20px;
    border-radius: 5px;
}

#start-translation-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(56, 103, 255); /* 浅蓝色背景 */
    color: white; /* 白色字体 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}