<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">

        <div class="upload-section">
            <div class="icon-section">
                <img src="{{ url_for('static', filename='images/icon-word.png') }}" alt="Word Icon">
                <img src="{{ url_for('static', filename='images/icon-excel.png') }}" alt="Excel Icon">
                <img src="{{ url_for('static', filename='images/icon-powerpoint.png') }}" alt="PowerPoint Icon">
                <img src="{{ url_for('static', filename='images/icon-pdf.png') }}" alt="PDF Icon">
            </div>
            <p class="supported-formats" style="color: rgb(55, 69, 103);">
                点击或拖动文件上传（可批量上传）
            </p>
            <button id="selectFileBtn">选择文档</button>
            <div class="info-section">
                <p class="supported-formats" style="color: rgb(55, 69, 103);">
                    ·支持格式：DOCX、PPT、PPTX、TXT、XLS、XLSX
                </p>
                <p class="language-support" style="color: rgb(55, 69, 103);">
                    ·支持中、英、日 语种互译
                </p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>